<script type="module">
  import { createApp } from 'https://unpkg.com/petite-vue?module'
  import { useCart } from '{{ "cart.js" | asset_url }}'

  const { cart } = useCart('{{ cart | json }}')

  window.addEventListener('cartchanged', ({ detail }) => {
    console.log('cart changed!', detail)
  });

  window.addEventListener('variantchanged', ({ detail }) => {
    console.log('variant changed!', detail)
  });

  createApp({
    cart,
    get isCartEmpty() {
      return cart.item_count === 0
    }
  }).mount("#shopify-section-header")
</script>

<div class="header-content">
  <h2>
    <a href="{{ routes.root_url }}">
      {{ shop.name }}
    </a>
  </h2>

  <a class="cart-icon" v-cloak href="{{ routes.cart_url }}">

    <i v-if="!cart.loading && isCartEmpty">
      {% render 'icon-cart-empty' %}
    </i>
    <i v-else-if="!cart.loading && !isCartEmpty">
      {% render 'icon-cart' %}
    </i>
    <span v-else-if="cart.loading">
      {% render 'icon-loading' %}
    </span>

    <span class="bubble" v-if="!cart.loading && cart.item_count > 0" v-text="cart.item_count"></span>
  </a>
</div>

{% schema %}
{
  "name": "header",
  "tag": "header"
}
{% endschema %}
