<script type="module">
  import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'
  import { useProduct } from '{{ "product.js" | asset_url }}'
  import { useCart } from '{{ "cart.js" | asset_url }}'

  const { product, variant, selectVariant, formatPrice, getRecommendedProducts } = useProduct('{{ product | json }}', '{{ product.selected_or_first_available_variant.id }}')
  const { addVariantToCart, cart } = useCart('{{ cart | json }}')

  createApp({
    product,
    variant,
    cart,
    formatPrice,
    selectVariant,
    addVariantToCart,
    mounted() {
      getRecommendedProducts()
    }
  }).mount('#page')
</script>

<section id="page" @vue:mounted="mounted">

  <h1>{{ product.title }}</h1>

  {% if product.has_only_default_variant %}
    <h3>{{ product.price | money }}</h3>
  {% else %}
    <h3 v-text="formatPrice(variant.price)">{{ product.selected_or_first_available_variant.price | money }}</h3>

    <p>
      <select v-model="variant.id" v-effect="selectVariant(variant.id)">
        <option
          v-for="variant in product.variants" 
          :key="variant.id"
          :value="variant.id"
          v-text="variant.title">
        </option>
      </select>
    </p>
  {% endif %}

  <div v-for="product in product.related">
    
  </div>

  <button v-cloak class="primary" @click="addVariantToCart(variant.id)" :disabled="cart.loading">
    {{ 'products.product.add_to_cart' | t }}
  </button>

</section>
